body{
    background-color: black;

}

.container {
    background-color: rgba(229, 204, 253, 0.747);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 50px  rgba(197, 190, 204, 0.466),
                -10px -10px 50px  rgba(220, 198, 241, 0.685);
}

.weather-temperature .temperature {
    color: rgb(33, 33, 33);
    font-size: 55px;
    font-weight: 400;
}
.description{
    margin-left: 100px;
    line-height: 0;
}
h2, h4,#date, .units, .description{
    opacity:0.7;
    color: red;
}
h2, h4,.weather-condition, .update{
font-weight: 500;

}

/* .day-weather{
    text-align: center;
}

.weather-forecast-temp{
    font-size: 13px;
    margin-bottom: 20px;
}
.weather-forecast-temp-min{
    opacity:0.7
}
.weather-forecast-day{
    font-size:16px ;
    opacity: 0.5;
} */
.weather-temperature .active{
    color: black;
    cursor: default;
}

.weather-temperature .active:hover{
    text-decoration: none;
}